/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  [Direction]
      ,[C2S_Lane]
      ,[O_Cty]
      ,[D_Cty]
      ,[O_State]
      ,[D_state]
	  ,[commodity]
      ,SUM([W2010]) AS [W2010]
      ,SUM([W2011]) AS [W2011]
      ,SUM([W2012]) AS [W2012]
      ,SUM([W2013]) AS [W2013]
      ,SUM([W2014]) AS [W2014]
      ,SUM([W2015]) AS [W2015]
      ,SUM([W2016]) AS [W2016]
      ,SUM([W2017]) AS [W2017]
      ,SUM([W2018]) AS [W2018]
  FROM [Tradecube 3.0 Processed Files].[dbo].[DOC_C2S_2010_2018_VW_4-2]
  WHERE [mode] = 'Air' AND ([commodity] = '080920' OR [commodity] = '080929' OR [commodity] = '080921')
  GROUP BY [Direction]
      ,[C2S_Lane]
      ,[O_Cty]
      ,[D_Cty]
      ,[O_State]
      ,[D_state]
	  ,[commodity]