/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [O_Port_Code]
      ,[country]
      ,[air_val]
      ,[air_swt]
      ,[stat_year]
  FROM [Tradecube 3.0 Raw Files].[dbo].[DOC_SPC_US_2010-2016A]