/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [commodity]
      ,[cty_code]
      ,[state]
      ,[year]
      ,SUM([air_val_yr]) AS [AV]
      ,SUM([air_swt_yr]) AS [AW]
      ,SUM([ves_val_yr]) AS [VV]
      ,SUM([ves_swt_yr]) AS [VW]
      ,SUM([cnt_val_yr]) AS [CV]
      ,SUM([cnt_swt_yr]) AS [CW]
      ,SUM([bulk_val_yr]) AS [BV]
      ,SUM([bulk_swt_yr]) AS [BW]
INTO [Tradecube 3.0 Processed Files].[dbo].[DOC_S2C-HS6_US_2010-2017A_V4-8]
  FROM [Tradecube 3.0 Raw Files].[dbo].[DOC_S2C-HS6_US_2010-2017A_V4-8]
  GROUP BY [commodity]
      ,[cty_code]
      ,[state]
      ,[year]