/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [HS6]
      ,[Cty_code]
      ,[Port_code]
      ,[Stat_year]
      ,SUM([AV]) AS [AV]
      ,SUM([AW]) AS [AW]
      ,SUM([VV]) AS [VV]
      ,SUM([VW]) AS [VW]
      ,SUM([CV]) AS [CV]
      ,SUM([CW]) AS [CW]
INTO [Share Distribution 3.0].[dbo].[P2C_2018_Annual]
  FROM [Share Distribution 3.0].[dbo].[P2C_2018_V430]
  WHERE [stat_month] = '12'
  GROUP BY [HS6]
      ,[Cty_code]
      ,[Port_code]
      ,[Stat_year]