/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  [_fipstate_]
      ,[_fipscty_]
      ,[NAICS]
      ,[_empflag_]
      ,[_emp_nf_]
      ,[_emp_]
      ,[_qp1_nf_]
      ,[_qp1_]
      ,[_ap_nf_]
      ,[_ap_]
      ,[_est_]
      ,[_n1_4_]
      ,[_n5_9_]
      ,[_n10_19_]
      ,[_n20_49_]
      ,[_n50_99_]
      ,[_n100_249_]
      ,[_n250_499_]
      ,[_n500_999_]
      ,[_n1000_]
      ,[_n1000_1_]
      ,[_n1000_2_]
      ,[_n1000_3_]
      ,[_n1000_4_]
      ,[_censtate_]
      ,[_cencty_]
INTO [WN_Segment_database].[dbo].[cbp16co]
  FROM [CBP county data].[dbo].[cbp16co]
WHERE [NAICS] ='113110'
OR [NAICS]= '113210'
OR [NAICS]= '113310'
OR [NAICS]= '114111'
OR [NAICS]= '114112'
OR [NAICS]= '114119'
OR [NAICS]= '114210'
OR [NAICS]= '115111'
OR [NAICS]= '115112'
OR [NAICS]= '115113'
OR [NAICS]= '115114'
OR [NAICS]= '115115'
OR [NAICS]= '115116'
OR [NAICS]= '115210'
OR [NAICS]= '115310'
OR [NAICS]= '211111'
OR [NAICS]= '211112'
OR [NAICS]= '212111'
OR [NAICS]= '212112'
OR [NAICS]= '212113'
OR [NAICS]= '212210'
OR [NAICS]= '212221'
OR [NAICS]= '212222'
OR [NAICS]= '212231'
OR [NAICS]= '212234'
OR [NAICS]= '212291'
OR [NAICS]= '212299'
OR [NAICS]= '212311'
OR [NAICS]= '212312'
OR [NAICS]= '212313'
OR [NAICS]= '212319'
OR [NAICS]= '212321'
OR [NAICS]= '212322'
OR [NAICS]= '212324'
OR [NAICS]= '212325'
OR [NAICS]= '212391'
OR [NAICS]= '212392'
OR [NAICS]= '212393'
OR [NAICS]= '212399'
OR [NAICS]= '213111'
OR [NAICS]= '213112'
OR [NAICS]= '213113'
OR [NAICS]= '213114'
OR [NAICS]= '213115'
OR [NAICS]= '221111'
OR [NAICS]= '221112'
OR [NAICS]= '221113'
OR [NAICS]= '221114'
OR [NAICS]= '221115'
OR [NAICS]= '221116'
OR [NAICS]= '221117'
OR [NAICS]= '221118'
OR [NAICS]= '221121'
OR [NAICS]= '221122'
OR [NAICS]= '221210'
OR [NAICS]= '221310'
OR [NAICS]= '221320'
OR [NAICS]= '221330'
OR [NAICS]= '236115'
OR [NAICS]= '236116'
OR [NAICS]= '236117'
OR [NAICS]= '236118'
OR [NAICS]= '236210'
OR [NAICS]= '236220'
OR [NAICS]= '237110'
OR [NAICS]= '237120'
OR [NAICS]= '237130'
OR [NAICS]= '237210'
OR [NAICS]= '237310'
OR [NAICS]= '237990'
OR [NAICS]= '238110'
OR [NAICS]= '238120'
OR [NAICS]= '238130'
OR [NAICS]= '238140'
OR [NAICS]= '238150'
OR [NAICS]= '238160'
OR [NAICS]= '238170'
OR [NAICS]= '238190'
OR [NAICS]= '238210'
OR [NAICS]= '238220'
OR [NAICS]= '238290'
OR [NAICS]= '238310'
OR [NAICS]= '238320'
OR [NAICS]= '238330'
OR [NAICS]= '238340'
OR [NAICS]= '238350'
OR [NAICS]= '238390'
OR [NAICS]= '238910'
OR [NAICS]= '238990'
OR [NAICS]= '311111'
OR [NAICS]= '311119'
OR [NAICS]= '311211'
OR [NAICS]= '311212'
OR [NAICS]= '311213'
OR [NAICS]= '311221'
OR [NAICS]= '311224'
OR [NAICS]= '311225'
OR [NAICS]= '311230'
OR [NAICS]= '311313'
OR [NAICS]= '311314'
OR [NAICS]= '311340'
OR [NAICS]= '311351'
OR [NAICS]= '311352'
OR [NAICS]= '311411'
OR [NAICS]= '311412'
OR [NAICS]= '311421'
OR [NAICS]= '311422'
OR [NAICS]= '311423'
OR [NAICS]= '311511'
OR [NAICS]= '311512'
OR [NAICS]= '311513'
OR [NAICS]= '311514'
OR [NAICS]= '311520'
OR [NAICS]= '311611'
OR [NAICS]= '311612'
OR [NAICS]= '311613'
OR [NAICS]= '311615'
OR [NAICS]= '311710'
OR [NAICS]= '311811'
OR [NAICS]= '311812'
OR [NAICS]= '311813'
OR [NAICS]= '311821'
OR [NAICS]= '311824'
OR [NAICS]= '311830'
OR [NAICS]= '311911'
OR [NAICS]= '311919'
OR [NAICS]= '311920'
OR [NAICS]= '311930'
OR [NAICS]= '311941'
OR [NAICS]= '311942'
OR [NAICS]= '311991'
OR [NAICS]= '311999'
OR [NAICS]= '312111'
OR [NAICS]= '312112'
OR [NAICS]= '312113'
OR [NAICS]= '312120'
OR [NAICS]= '312130'
OR [NAICS]= '312140'
OR [NAICS]= '312230'
OR [NAICS]= '313110'
OR [NAICS]= '313210'
OR [NAICS]= '313220'
OR [NAICS]= '313230'
OR [NAICS]= '313240'
OR [NAICS]= '313310'
OR [NAICS]= '313320'
OR [NAICS]= '314110'
OR [NAICS]= '314120'
OR [NAICS]= '314910'
OR [NAICS]= '314994'
OR [NAICS]= '314999'
OR [NAICS]= '315110'
OR [NAICS]= '315190'
OR [NAICS]= '315210'
OR [NAICS]= '315220'
OR [NAICS]= '315240'
OR [NAICS]= '315280'
OR [NAICS]= '315990'
OR [NAICS]= '316110'
OR [NAICS]= '316210'
OR [NAICS]= '316992'
OR [NAICS]= '316998'
OR [NAICS]= '321113'
OR [NAICS]= '321114'
OR [NAICS]= '321211'
OR [NAICS]= '321212'
OR [NAICS]= '321213'
OR [NAICS]= '321214'
OR [NAICS]= '321219'
OR [NAICS]= '321911'
OR [NAICS]= '321912'
OR [NAICS]= '321918'
OR [NAICS]= '321920'
OR [NAICS]= '321991'
OR [NAICS]= '321992'
OR [NAICS]= '321999'
OR [NAICS]= '322110'
OR [NAICS]= '322121'
OR [NAICS]= '322122'
OR [NAICS]= '322130'
OR [NAICS]= '322211'
OR [NAICS]= '322212'
OR [NAICS]= '322219'
OR [NAICS]= '322220'
OR [NAICS]= '322230'
OR [NAICS]= '322291'
OR [NAICS]= '322299'
OR [NAICS]= '323111'
OR [NAICS]= '323113'
OR [NAICS]= '323117'
OR [NAICS]= '323120'
OR [NAICS]= '324110'
OR [NAICS]= '324121'
OR [NAICS]= '324122'
OR [NAICS]= '324191'
OR [NAICS]= '324199'
OR [NAICS]= '325110'
OR [NAICS]= '325120'
OR [NAICS]= '325130'
OR [NAICS]= '325180'
OR [NAICS]= '325193'
OR [NAICS]= '325194'
OR [NAICS]= '325199'
OR [NAICS]= '325211'
OR [NAICS]= '325212'
OR [NAICS]= '325220'
OR [NAICS]= '325311'
OR [NAICS]= '325312'
OR [NAICS]= '325314'
OR [NAICS]= '325320'
OR [NAICS]= '325411'
OR [NAICS]= '325412'
OR [NAICS]= '325413'
OR [NAICS]= '325414'
OR [NAICS]= '325510'
OR [NAICS]= '325520'
OR [NAICS]= '325611'
OR [NAICS]= '325612'
OR [NAICS]= '325613'
OR [NAICS]= '325620'
OR [NAICS]= '325910'
OR [NAICS]= '325920'
OR [NAICS]= '325991'
OR [NAICS]= '325992'
OR [NAICS]= '325998'
OR [NAICS]= '326111'
OR [NAICS]= '326112'
OR [NAICS]= '326113'
OR [NAICS]= '326121'
OR [NAICS]= '326122'
OR [NAICS]= '326130'
OR [NAICS]= '326140'
OR [NAICS]= '326150'
OR [NAICS]= '326160'
OR [NAICS]= '326191'
OR [NAICS]= '326199'
OR [NAICS]= '326211'
OR [NAICS]= '326212'
OR [NAICS]= '326220'
OR [NAICS]= '326291'
OR [NAICS]= '326299'
OR [NAICS]= '327110'
OR [NAICS]= '327120'
OR [NAICS]= '327211'
OR [NAICS]= '327212'
OR [NAICS]= '327213'
OR [NAICS]= '327215'
OR [NAICS]= '327310'
OR [NAICS]= '327320'
OR [NAICS]= '327331'
OR [NAICS]= '327332'
OR [NAICS]= '327390'
OR [NAICS]= '327410'
OR [NAICS]= '327420'
OR [NAICS]= '327910'
OR [NAICS]= '327991'
OR [NAICS]= '327992'
OR [NAICS]= '327993'
OR [NAICS]= '327999'
OR [NAICS]= '331110'
OR [NAICS]= '331210'
OR [NAICS]= '331221'
OR [NAICS]= '331222'
OR [NAICS]= '331313'
OR [NAICS]= '331314'
OR [NAICS]= '331315'
OR [NAICS]= '331318'
OR [NAICS]= '331410'
OR [NAICS]= '331420'
OR [NAICS]= '331491'
OR [NAICS]= '331492'
OR [NAICS]= '331511'
OR [NAICS]= '331512'
OR [NAICS]= '331513'
OR [NAICS]= '331523'
OR [NAICS]= '331524'
OR [NAICS]= '331529'
OR [NAICS]= '332111'
OR [NAICS]= '332112'
OR [NAICS]= '332114'
OR [NAICS]= '332117'
OR [NAICS]= '332119'
OR [NAICS]= '332215'
OR [NAICS]= '332216'
OR [NAICS]= '332311'
OR [NAICS]= '332312'
OR [NAICS]= '332313'
OR [NAICS]= '332321'
OR [NAICS]= '332322'
OR [NAICS]= '332323'
OR [NAICS]= '332410'
OR [NAICS]= '332420'
OR [NAICS]= '332431'
OR [NAICS]= '332439'
OR [NAICS]= '332510'
OR [NAICS]= '332613'
OR [NAICS]= '332618'
OR [NAICS]= '332710'
OR [NAICS]= '332721'
OR [NAICS]= '332722'
OR [NAICS]= '332811'
OR [NAICS]= '332812'
OR [NAICS]= '332813'
OR [NAICS]= '332911'
OR [NAICS]= '332912'
OR [NAICS]= '332913'
OR [NAICS]= '332919'
OR [NAICS]= '332991'
OR [NAICS]= '332992'
OR [NAICS]= '332993'
OR [NAICS]= '332994'
OR [NAICS]= '332996'
OR [NAICS]= '332999'
OR [NAICS]= '333111'
OR [NAICS]= '333112'
OR [NAICS]= '333120'
OR [NAICS]= '333131'
OR [NAICS]= '333132'
OR [NAICS]= '333241'
OR [NAICS]= '333242'
OR [NAICS]= '333243'
OR [NAICS]= '333244'
OR [NAICS]= '333249'
OR [NAICS]= '333314'
OR [NAICS]= '333316'
OR [NAICS]= '333318'
OR [NAICS]= '333413'
OR [NAICS]= '333414'
OR [NAICS]= '333415'
OR [NAICS]= '333511'
OR [NAICS]= '333514'
OR [NAICS]= '333515'
OR [NAICS]= '333517'
OR [NAICS]= '333519'
OR [NAICS]= '333611'
OR [NAICS]= '333612'
OR [NAICS]= '333613'
OR [NAICS]= '333618'
OR [NAICS]= '333911'
OR [NAICS]= '333912'
OR [NAICS]= '333913'
OR [NAICS]= '333921'
OR [NAICS]= '333922'
OR [NAICS]= '333923'
OR [NAICS]= '333924'
OR [NAICS]= '333991'
OR [NAICS]= '333992'
OR [NAICS]= '333993'
OR [NAICS]= '333994'
OR [NAICS]= '333995'
OR [NAICS]= '333996'
OR [NAICS]= '333997'
OR [NAICS]= '333999'
OR [NAICS]= '334111'
OR [NAICS]= '334112'
OR [NAICS]= '334118'
OR [NAICS]= '334210'
OR [NAICS]= '334220'
OR [NAICS]= '334290'
OR [NAICS]= '334310'
OR [NAICS]= '334412'
OR [NAICS]= '334413'
OR [NAICS]= '334416'
OR [NAICS]= '334417'
OR [NAICS]= '334418'
OR [NAICS]= '334419'
OR [NAICS]= '334510'
OR [NAICS]= '334511'
OR [NAICS]= '334512'
OR [NAICS]= '334513'
OR [NAICS]= '334514'
OR [NAICS]= '334515'
OR [NAICS]= '334516'
OR [NAICS]= '334517'
OR [NAICS]= '334519'
OR [NAICS]= '334613'
OR [NAICS]= '334614'
OR [NAICS]= '335110'
OR [NAICS]= '335121'
OR [NAICS]= '335122'
OR [NAICS]= '335129'
OR [NAICS]= '335210'
OR [NAICS]= '335221'
OR [NAICS]= '335222'
OR [NAICS]= '335224'
OR [NAICS]= '335228'
OR [NAICS]= '335311'
OR [NAICS]= '335312'
OR [NAICS]= '335313'
OR [NAICS]= '335314'
OR [NAICS]= '335911'
OR [NAICS]= '335912'
OR [NAICS]= '335921'
OR [NAICS]= '335929'
OR [NAICS]= '335931'
OR [NAICS]= '335932'
OR [NAICS]= '335991'
OR [NAICS]= '335999'
OR [NAICS]= '336111'
OR [NAICS]= '336112'
OR [NAICS]= '336120'
OR [NAICS]= '336211'
OR [NAICS]= '336212'
OR [NAICS]= '336213'
OR [NAICS]= '336214'
OR [NAICS]= '336310'
OR [NAICS]= '336320'
OR [NAICS]= '336330'
OR [NAICS]= '336340'
OR [NAICS]= '336350'
OR [NAICS]= '336360'
OR [NAICS]= '336370'
OR [NAICS]= '336390'
OR [NAICS]= '336411'
OR [NAICS]= '336412'
OR [NAICS]= '336413'
OR [NAICS]= '336414'
OR [NAICS]= '336415'
OR [NAICS]= '336419'
OR [NAICS]= '336510'
OR [NAICS]= '336611'
OR [NAICS]= '336612'
OR [NAICS]= '336991'
OR [NAICS]= '336992'
OR [NAICS]= '336999'
OR [NAICS]= '337110'
OR [NAICS]= '337121'
OR [NAICS]= '337122'
OR [NAICS]= '337124'
OR [NAICS]= '337125'
OR [NAICS]= '337127'
OR [NAICS]= '337211'
OR [NAICS]= '337212'
OR [NAICS]= '337214'
OR [NAICS]= '337215'
OR [NAICS]= '337910'
OR [NAICS]= '337920'
OR [NAICS]= '339112'
OR [NAICS]= '339113'
OR [NAICS]= '339114'
OR [NAICS]= '339115'
OR [NAICS]= '339116'
OR [NAICS]= '339910'
OR [NAICS]= '339920'
OR [NAICS]= '339930'
OR [NAICS]= '339940'
OR [NAICS]= '339950'
OR [NAICS]= '339991'
OR [NAICS]= '339992'
OR [NAICS]= '339993'
OR [NAICS]= '339994'
OR [NAICS]= '339995'
OR [NAICS]= '339999'
OR [NAICS]= '423110'
OR [NAICS]= '423120'
OR [NAICS]= '423130'
OR [NAICS]= '423140'
OR [NAICS]= '423210'
OR [NAICS]= '423220'
OR [NAICS]= '423310'
OR [NAICS]= '423320'
OR [NAICS]= '423330'
OR [NAICS]= '423390'
OR [NAICS]= '423410'
OR [NAICS]= '423420'
OR [NAICS]= '423430'
OR [NAICS]= '423440'
OR [NAICS]= '423450'
OR [NAICS]= '423460'
OR [NAICS]= '423490'
OR [NAICS]= '423510'
OR [NAICS]= '423520'
OR [NAICS]= '423610'
OR [NAICS]= '423620'
OR [NAICS]= '423690'
OR [NAICS]= '423710'
OR [NAICS]= '423720'
OR [NAICS]= '423730'
OR [NAICS]= '423740'
OR [NAICS]= '423810'
OR [NAICS]= '423820'
OR [NAICS]= '423830'
OR [NAICS]= '423840'
OR [NAICS]= '423850'
OR [NAICS]= '423860'
OR [NAICS]= '423910'
OR [NAICS]= '423920'
OR [NAICS]= '423930'
OR [NAICS]= '423940'
OR [NAICS]= '423990'
OR [NAICS]= '424110'
OR [NAICS]= '424120'
OR [NAICS]= '424130'
OR [NAICS]= '424210'
OR [NAICS]= '424310'
OR [NAICS]= '424320'
OR [NAICS]= '424330'
OR [NAICS]= '424340'
OR [NAICS]= '424410'
OR [NAICS]= '424420'
OR [NAICS]= '424430'
OR [NAICS]= '424440'
OR [NAICS]= '424450'
OR [NAICS]= '424460'
OR [NAICS]= '424470'
OR [NAICS]= '424480'
OR [NAICS]= '424490'
OR [NAICS]= '424510'
OR [NAICS]= '424520'
OR [NAICS]= '424590'
OR [NAICS]= '424610'
OR [NAICS]= '424690'
OR [NAICS]= '424710'
OR [NAICS]= '424720'
OR [NAICS]= '424810'
OR [NAICS]= '424820'
OR [NAICS]= '424910'
OR [NAICS]= '424920'
OR [NAICS]= '424930'
OR [NAICS]= '424940'
OR [NAICS]= '424950'
OR [NAICS]= '424990'
OR [NAICS]= '425110'
OR [NAICS]= '425120'
OR [NAICS]= '441110'
OR [NAICS]= '441120'
OR [NAICS]= '441210'
OR [NAICS]= '441222'
OR [NAICS]= '441228'
OR [NAICS]= '441310'
OR [NAICS]= '441320'
OR [NAICS]= '442110'
OR [NAICS]= '442210'
OR [NAICS]= '442291'
OR [NAICS]= '442299'
OR [NAICS]= '443141'
OR [NAICS]= '443142'
OR [NAICS]= '444110'
OR [NAICS]= '444120'
OR [NAICS]= '444130'
OR [NAICS]= '444190'
OR [NAICS]= '444210'
OR [NAICS]= '444220'
OR [NAICS]= '445110'
OR [NAICS]= '445120'
OR [NAICS]= '445210'
OR [NAICS]= '445220'
OR [NAICS]= '445230'
OR [NAICS]= '445291'
OR [NAICS]= '445292'
OR [NAICS]= '445299'
OR [NAICS]= '445310'
OR [NAICS]= '446110'
OR [NAICS]= '446120'
OR [NAICS]= '446130'
OR [NAICS]= '446191'
OR [NAICS]= '446199'
OR [NAICS]= '447110'
OR [NAICS]= '447190'
OR [NAICS]= '448110'
OR [NAICS]= '448120'
OR [NAICS]= '448130'
OR [NAICS]= '448140'
OR [NAICS]= '448150'
OR [NAICS]= '448190'
OR [NAICS]= '448210'
OR [NAICS]= '448310'
OR [NAICS]= '448320'
OR [NAICS]= '451110'
OR [NAICS]= '451120'
OR [NAICS]= '451130'
OR [NAICS]= '451140'
OR [NAICS]= '451211'
OR [NAICS]= '451212'
OR [NAICS]= '452111'
OR [NAICS]= '452112'
OR [NAICS]= '452910'
OR [NAICS]= '452990'
OR [NAICS]= '453110'
OR [NAICS]= '453210'
OR [NAICS]= '453220'
OR [NAICS]= '453310'
OR [NAICS]= '453910'
OR [NAICS]= '453920'
OR [NAICS]= '453930'
OR [NAICS]= '453991'
OR [NAICS]= '453998'
OR [NAICS]= '454111'
OR [NAICS]= '454112'
OR [NAICS]= '454113'
OR [NAICS]= '454210'
OR [NAICS]= '454310'
OR [NAICS]= '454390'
OR [NAICS]= '481111'
OR [NAICS]= '481112'
OR [NAICS]= '481211'
OR [NAICS]= '481212'
OR [NAICS]= '481219'
OR [NAICS]= '483111'
OR [NAICS]= '483112'
OR [NAICS]= '483113'
OR [NAICS]= '483114'
OR [NAICS]= '483211'
OR [NAICS]= '483212'
OR [NAICS]= '484110'
OR [NAICS]= '484121'
OR [NAICS]= '484122'
OR [NAICS]= '484210'
OR [NAICS]= '484220'
OR [NAICS]= '484230'
OR [NAICS]= '485111'
OR [NAICS]= '485112'
OR [NAICS]= '485113'
OR [NAICS]= '485119'
OR [NAICS]= '485210'
OR [NAICS]= '485310'
OR [NAICS]= '485320'
OR [NAICS]= '485410'
OR [NAICS]= '485510'
OR [NAICS]= '485991'
OR [NAICS]= '485999'
OR [NAICS]= '486110'
OR [NAICS]= '486210'
OR [NAICS]= '486910'
OR [NAICS]= '486990'
OR [NAICS]= '487110'
OR [NAICS]= '487210'
OR [NAICS]= '487990'
OR [NAICS]= '488111'
OR [NAICS]= '488119'
OR [NAICS]= '488190'
OR [NAICS]= '488210'
OR [NAICS]= '488310'
OR [NAICS]= '488320'
OR [NAICS]= '488330'
OR [NAICS]= '488390'
OR [NAICS]= '488410'
OR [NAICS]= '488490'
OR [NAICS]= '488510'
OR [NAICS]= '488991'
OR [NAICS]= '488999'
OR [NAICS]= '492110'
OR [NAICS]= '492210'
OR [NAICS]= '493110'
OR [NAICS]= '493120'
OR [NAICS]= '493130'
OR [NAICS]= '493190'
OR [NAICS]= '511110'
OR [NAICS]= '511120'
OR [NAICS]= '511130'
OR [NAICS]= '511140'
OR [NAICS]= '511191'
OR [NAICS]= '511199'
OR [NAICS]= '511210'
OR [NAICS]= '512110'
OR [NAICS]= '512120'
OR [NAICS]= '512131'
OR [NAICS]= '512132'
OR [NAICS]= '512191'
OR [NAICS]= '512199'
OR [NAICS]= '512210'
OR [NAICS]= '512220'
OR [NAICS]= '512230'
OR [NAICS]= '512240'
OR [NAICS]= '512290'
OR [NAICS]= '515111'
OR [NAICS]= '515112'
OR [NAICS]= '515120'
OR [NAICS]= '515210'
OR [NAICS]= '517110'
OR [NAICS]= '517210'
OR [NAICS]= '517410'
OR [NAICS]= '517911'
OR [NAICS]= '517919'
OR [NAICS]= '518210'
OR [NAICS]= '519110'
OR [NAICS]= '519120'
OR [NAICS]= '519130'
OR [NAICS]= '519190'
OR [NAICS]= '521110'
OR [NAICS]= '522110'
OR [NAICS]= '522120'
OR [NAICS]= '522130'
OR [NAICS]= '522190'
OR [NAICS]= '522210'
OR [NAICS]= '522220'
OR [NAICS]= '522291'
OR [NAICS]= '522292'
OR [NAICS]= '522293'
OR [NAICS]= '522294'
OR [NAICS]= '522298'
OR [NAICS]= '522310'
OR [NAICS]= '522320'
OR [NAICS]= '522390'
OR [NAICS]= '523110'
OR [NAICS]= '523120'
OR [NAICS]= '523130'
OR [NAICS]= '523140'
OR [NAICS]= '523210'
OR [NAICS]= '523910'
OR [NAICS]= '523920'
OR [NAICS]= '523930'
OR [NAICS]= '523991'
OR [NAICS]= '523999'
OR [NAICS]= '524113'
OR [NAICS]= '524114'
OR [NAICS]= '524126'
OR [NAICS]= '524127'
OR [NAICS]= '524128'
OR [NAICS]= '524130'
OR [NAICS]= '524210'
OR [NAICS]= '524291'
OR [NAICS]= '524292'
OR [NAICS]= '524298'
OR [NAICS]= '525910'
OR [NAICS]= '525990'
OR [NAICS]= '531110'
OR [NAICS]= '531120'
OR [NAICS]= '531130'
OR [NAICS]= '531190'
OR [NAICS]= '531210'
OR [NAICS]= '531311'
OR [NAICS]= '531312'
OR [NAICS]= '531320'
OR [NAICS]= '531390'
OR [NAICS]= '532111'
OR [NAICS]= '532112'
OR [NAICS]= '532120'
OR [NAICS]= '532210'
OR [NAICS]= '532220'
OR [NAICS]= '532230'
OR [NAICS]= '532291'
OR [NAICS]= '532292'
OR [NAICS]= '532299'
OR [NAICS]= '532310'
OR [NAICS]= '532411'
OR [NAICS]= '532412'
OR [NAICS]= '532420'
OR [NAICS]= '532490'
OR [NAICS]= '533110'
OR [NAICS]= '541110'
OR [NAICS]= '541191'
OR [NAICS]= '541199'
OR [NAICS]= '541211'
OR [NAICS]= '541213'
OR [NAICS]= '541214'
OR [NAICS]= '541219'
OR [NAICS]= '541310'
OR [NAICS]= '541320'
OR [NAICS]= '541330'
OR [NAICS]= '541340'
OR [NAICS]= '541350'
OR [NAICS]= '541360'
OR [NAICS]= '541370'
OR [NAICS]= '541380'
OR [NAICS]= '541410'
OR [NAICS]= '541420'
OR [NAICS]= '541430'
OR [NAICS]= '541490'
OR [NAICS]= '541511'
OR [NAICS]= '541512'
OR [NAICS]= '541513'
OR [NAICS]= '541519'
OR [NAICS]= '541611'
OR [NAICS]= '541612'
OR [NAICS]= '541613'
OR [NAICS]= '541614'
OR [NAICS]= '541618'
OR [NAICS]= '541620'
OR [NAICS]= '541690'
OR [NAICS]= '541711'
OR [NAICS]= '541712'
OR [NAICS]= '541720'
OR [NAICS]= '541810'
OR [NAICS]= '541820'
OR [NAICS]= '541830'
OR [NAICS]= '541840'
OR [NAICS]= '541850'
OR [NAICS]= '541860'
OR [NAICS]= '541870'
OR [NAICS]= '541890'
OR [NAICS]= '541910'
OR [NAICS]= '541921'
OR [NAICS]= '541922'
OR [NAICS]= '541930'
OR [NAICS]= '541940'
OR [NAICS]= '541990'
OR [NAICS]= '551111'
OR [NAICS]= '551112'
OR [NAICS]= '551114'
OR [NAICS]= '561110'
OR [NAICS]= '561210'
OR [NAICS]= '561311'
OR [NAICS]= '561312'
OR [NAICS]= '561320'
OR [NAICS]= '561330'
OR [NAICS]= '561410'
OR [NAICS]= '561421'
OR [NAICS]= '561422'
OR [NAICS]= '561431'
OR [NAICS]= '561439'
OR [NAICS]= '561440'
OR [NAICS]= '561450'
OR [NAICS]= '561491'
OR [NAICS]= '561492'
OR [NAICS]= '561499'
OR [NAICS]= '561510'
OR [NAICS]= '561520'
OR [NAICS]= '561591'
OR [NAICS]= '561599'
OR [NAICS]= '561611'
OR [NAICS]= '561612'
OR [NAICS]= '561613'
OR [NAICS]= '561621'
OR [NAICS]= '561622'
OR [NAICS]= '561710'
OR [NAICS]= '561720'
OR [NAICS]= '561730'
OR [NAICS]= '561740'
OR [NAICS]= '561790'
OR [NAICS]= '561910'
OR [NAICS]= '561920'
OR [NAICS]= '561990'
OR [NAICS]= '562111'
OR [NAICS]= '562112'
OR [NAICS]= '562119'
OR [NAICS]= '562211'
OR [NAICS]= '562212'
OR [NAICS]= '562213'
OR [NAICS]= '562219'
OR [NAICS]= '562910'
OR [NAICS]= '562920'
OR [NAICS]= '562991'
OR [NAICS]= '562998'
OR [NAICS]= '611110'
OR [NAICS]= '611210'
OR [NAICS]= '611310'
OR [NAICS]= '611410'
OR [NAICS]= '611420'
OR [NAICS]= '611430'
OR [NAICS]= '611511'
OR [NAICS]= '611512'
OR [NAICS]= '611513'
OR [NAICS]= '611519'
OR [NAICS]= '611610'
OR [NAICS]= '611620'
OR [NAICS]= '611630'
OR [NAICS]= '611691'
OR [NAICS]= '611692'
OR [NAICS]= '611699'
OR [NAICS]= '611710'
OR [NAICS]= '621111'
OR [NAICS]= '621112'
OR [NAICS]= '621210'
OR [NAICS]= '621310'
OR [NAICS]= '621320'
OR [NAICS]= '621330'
OR [NAICS]= '621340'
OR [NAICS]= '621391'
OR [NAICS]= '621399'
OR [NAICS]= '621410'
OR [NAICS]= '621420'
OR [NAICS]= '621491'
OR [NAICS]= '621492'
OR [NAICS]= '621493'
OR [NAICS]= '621498'
OR [NAICS]= '621511'
OR [NAICS]= '621512'
OR [NAICS]= '621610'
OR [NAICS]= '621910'
OR [NAICS]= '621991'
OR [NAICS]= '621999'
OR [NAICS]= '622110'
OR [NAICS]= '622210'
OR [NAICS]= '622310'
OR [NAICS]= '623110'
OR [NAICS]= '623210'
OR [NAICS]= '623220'
OR [NAICS]= '623311'
OR [NAICS]= '623312'
OR [NAICS]= '623990'
OR [NAICS]= '624110'
OR [NAICS]= '624120'
OR [NAICS]= '624190'
OR [NAICS]= '624210'
OR [NAICS]= '624221'
OR [NAICS]= '624229'
OR [NAICS]= '624230'
OR [NAICS]= '624310'
OR [NAICS]= '624410'
OR [NAICS]= '711110'
OR [NAICS]= '711120'
OR [NAICS]= '711130'
OR [NAICS]= '711190'
OR [NAICS]= '711211'
OR [NAICS]= '711212'
OR [NAICS]= '711219'
OR [NAICS]= '711310'
OR [NAICS]= '711320'
OR [NAICS]= '711410'
OR [NAICS]= '711510'
OR [NAICS]= '712110'
OR [NAICS]= '712120'
OR [NAICS]= '712130'
OR [NAICS]= '712190'
OR [NAICS]= '713110'
OR [NAICS]= '713120'
OR [NAICS]= '713210'
OR [NAICS]= '713290'
OR [NAICS]= '713910'
OR [NAICS]= '713920'
OR [NAICS]= '713930'
OR [NAICS]= '713940'
OR [NAICS]= '713950'
OR [NAICS]= '713990'
OR [NAICS]= '721110'
OR [NAICS]= '721120'
OR [NAICS]= '721191'
OR [NAICS]= '721199'
OR [NAICS]= '721211'
OR [NAICS]= '721214'
OR [NAICS]= '721310'
OR [NAICS]= '722310'
OR [NAICS]= '722320'
OR [NAICS]= '722330'
OR [NAICS]= '722410'
OR [NAICS]= '722511'
OR [NAICS]= '722513'
OR [NAICS]= '722514'
OR [NAICS]= '722515'
OR [NAICS]= '811111'
OR [NAICS]= '811112'
OR [NAICS]= '811113'
OR [NAICS]= '811118'
OR [NAICS]= '811121'
OR [NAICS]= '811122'
OR [NAICS]= '811191'
OR [NAICS]= '811192'
OR [NAICS]= '811198'
OR [NAICS]= '811211'
OR [NAICS]= '811212'
OR [NAICS]= '811213'
OR [NAICS]= '811219'
OR [NAICS]= '811310'
OR [NAICS]= '811411'
OR [NAICS]= '811412'
OR [NAICS]= '811420'
OR [NAICS]= '811430'
OR [NAICS]= '811490'
OR [NAICS]= '812111'
OR [NAICS]= '812112'
OR [NAICS]= '812113'
OR [NAICS]= '812191'
OR [NAICS]= '812199'
OR [NAICS]= '812210'
OR [NAICS]= '812220'
OR [NAICS]= '812310'
OR [NAICS]= '812320'
OR [NAICS]= '812331'
OR [NAICS]= '812332'
OR [NAICS]= '812910'
OR [NAICS]= '812921'
OR [NAICS]= '812922'
OR [NAICS]= '812930'
OR [NAICS]= '812990'
OR [NAICS]= '813110'
OR [NAICS]= '813211'
OR [NAICS]= '813212'
OR [NAICS]= '813219'
OR [NAICS]= '813311'
OR [NAICS]= '813312'
OR [NAICS]= '813319'
OR [NAICS]= '813410'
OR [NAICS]= '813910'
OR [NAICS]= '813920'
OR [NAICS]= '813930'
OR [NAICS]= '813940'
OR [NAICS]= '813990'
