/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [Mode]
      ,[HS6_S2C_Lane]
      ,[commodity]
      ,[cty_code]
      ,[state]
      ,[V2010]
      ,[V2011]
      ,[V2012]
      ,[V2013]
      ,[V2014]
      ,[V2015]
      ,[V2016]
      ,[V2017]
      ,[V2018]
      ,[W2010]
      ,[W2011]
      ,[W2012]
      ,[W2013]
      ,[W2014]
      ,[W2015]
      ,[W2016]
      ,[W2017]
      ,[W2018]
  FROM [Tradecube 3.0 Processed Files].[dbo].[DOC_S2C_2010_2017_Value_Weight_12]