/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [R2R_Lane]
      ,[C2C_Lane]
      ,[A2A_Lane]
      ,[O_Reg]
      ,[D_Reg]
      ,[O_Cty]
      ,[D_Cty]
      ,[O_ctyreg]
      ,[D_ctyreg]
      ,[O_State]
      ,[D_State]
      ,[O_City]
      ,[D_City]
      ,[O_Apt]
      ,[D_Apt]
      ,[Vertical]
      ,[GCKM]
      ,SUM([Ship_2012]) AS [S2012]
      ,SUM([Ship_2013]) AS [S2013]
      ,SUM([Ship_2014]) AS [S2014]
      ,SUM([Ship_2015]) AS [S2015]
      ,SUM([Ship_2016]) AS [S2016]
      ,SUM([Ship_2017]) AS [S2017]
      ,SUM([Ship_2018]) AS [S2018]
      ,SUM([Ship_2019]) AS [S2019]
      ,SUM([Ship_2020]) AS [S2020]
INTO [WN_Segment_database].[dbo].[Concept_4_Shipments]
  FROM [WN_Segment_database].[dbo].[Concept_4_Shipments_Table]
  GROUP BY  [R2R_Lane]
      ,[C2C_Lane]
      ,[A2A_Lane]
      ,[O_Reg]
      ,[D_Reg]
      ,[O_Cty]
      ,[D_Cty]
      ,[O_ctyreg]
      ,[D_ctyreg]
      ,[O_State]
      ,[D_State]
      ,[O_City]
      ,[D_City]
      ,[O_Apt]
      ,[D_Apt]
      ,[Vertical]
      ,[GCKM]